html {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 5px;
}

a {
  text-decoration: none;
  color: black;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
}

a:hover {
  color: gray;
}
h1, h2 {
  margin-left: 10px;
  padding: 0;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
}
.navbar {
  box-shadow: 0 8px 4px -6px rgba(119, 119, 119, 0.219);
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}

.navlinksContainer {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  margin-right: 20px;
  width: 12vw;

}


.activeLink {
  background-color: rgba(0, 0, 0, 0.493);
  padding: 10px;
  color: white;
}

.activeLink:hover {
  color: white
}

.navlink {
  margin-right: 5px;
  white-space: nowrap
}

.blog-post-container {
  /* border: 1px solid black; */
  /* width: 50vw; */

}


.blog-post-content {
  padding: 10px;
}