html {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;

}

body{
    margin:0;
}

.navLogo {
  color: #62DAFB;
  margin-left: 30px;
}

.navLogo:hover {
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
}

a:hover {
  color: #62DAFB;
}
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbarContainer {
  border: 1px solid red;
}
.navbar {
  box-shadow: 0 8px 4px -6px rgba(119, 119, 119, 0.219);
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  
  justify-content: space-between;
  align-items: center;
  background-color: #20222A;
}

.navlinksContainer {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  list-style-type: none;
  width: 15vw;
  padding-left: 10px;
  padding-right: 10px;
  color: #62DAFB;
  margin-right: 30px;
}


.activeLink {
  background-color: rgba(60, 73, 149, 0.493);
  padding: 10px;
  color: white;
}

.activeLink:hover {
  color: white
}

.navlink {
  white-space: nowrap;
  width: 8vw;
  text-align: center;
}

.blog-post-container {
  border: 1px solid rgba(0, 0, 0, 0.103);
  width: 90vw;
  margin: 2rem auto;
  box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.568);
  padding-left: 30px;
  padding-bottom: 20px;
}


.blog-post-content {
  padding: 10px;
}

.remark-sticky-table {
  border-radius: 2px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  height: min-content;
  width: 55vw;
  margin: 48px 0px;
}

.remark-sticky-table-table {
  border-collapse: collapse;
  box-sizing: border-box;
  width: 100%;
}

.remark-sticky-table-th {
  background-color: #f7f7f7;
  font-weight: 600;
  text-align: left;
}

.remark-sticky-table-tbody:nth-child(odd) {
  background-color: #fafafa;
}

.remark-sticky-table-th,
.remark-sticky-table-td {
  padding: 16px;
}

.functionCall {
  background-color: #E7F2FA;
  padding: 7px;
  border-top: 3px solid #6AB0DE;
}

.objectParams {
  background-color: rgb(233, 231, 231);
  padding: 3px;
  border-left: 2px solid rgb(158, 155, 155);
}

.objectParamDef {
  margin-left: 100px;
}

.functionTable {
  margin-top: 50px;
  margin-bottom: 50px;
}


.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9;
}

.table-bordered, .table-bordered>thead>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
}

.table>thead>tr>td, .table>tbody>tr>th, .table>tbody>tr>td, .table>tfoot>tr>th, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.4285714;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


.functionExampleImg {
  width: 60vw;
}

img {
  border-radius: 5px;
    box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.568);
    margin-top: 10px;

}